/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.containerEstruturaSection {
    width: 100vw;
    min-height: 100vh;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


.portfolio-menu{
	text-align:center;
}
.portfolio-menu ul li{
	display:inline-block;
	margin:0;
	list-style:none;
	padding:10px 15px;
	cursor:pointer;
	-webkit-transition:all 05s ease;
	-o-transition:all 05s ease;
	-webkit-transition:all .5s ease;
	-o-transition:all .5s ease;
	transition:all .5s ease;
}

.portfolio-item{
	/*width:100%;*/
}
.portfolio-item .item{
	/*width:303px;*/
	float:left;
	margin-bottom:10px;
}


.img-fluid{
    border: 1px solid #0747bd;
}

.tituloContainer{
    width: 100%;
    height: 50px;
}

.titulo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "MedulaOne";
    font-size: 3.0rem;
    color: #FEBD06;
}

figure img.mfp-img{
    max-height: 705px !important;
    height: auto!important;
    -o-object-fit: cover;
       object-fit: cover;
}


.text-primary,
.blockquote-footer{
    color: #007bff;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    
}

.text-primary:hover,
.blockquote-footer:hover{
    cursor: help;
    color: #007bff !important;
    white-space: initial;
    overflow: initial;
    -o-text-overflow: initial;
       text-overflow: initial;
    
}

.portfolio-menu ul li {
    display: inline-block;
    margin: 0;
    list-style: none;
    padding: 10px 15px;
    margin-top: 5px;
    cursor: pointer;
    -webkit-transition: all 05s ease;
    -o-transition: all 05s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}


.mfp-container.mfp-image-holder.mfp-s-ready{
   
    z-index: 1000;
}
