.containerEstruturaSection {
    width: 100vw;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.portfolio-menu{
	text-align:center;
}
.portfolio-menu ul li{
	display:inline-block;
	margin:0;
	list-style:none;
	padding:10px 15px;
	cursor:pointer;
	-webkit-transition:all 05s ease;
	-moz-transition:all 05s ease;
	-ms-transition:all 05s ease;
	-o-transition:all 05s ease;
	transition:all .5s ease;
}

.portfolio-item{
	/*width:100%;*/
}
.portfolio-item .item{
	/*width:303px;*/
	float:left;
	margin-bottom:10px;
}


.img-fluid{
    border: 1px solid #0747bd;
}

.tituloContainer{
    width: 100%;
    height: 50px;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "MedulaOne";
    font-size: 3.0rem;
    color: #FEBD06;
}

figure img.mfp-img{
    max-height: 90% !important;
    height: 80%!important;
    object-fit: cover;
}


.text-primary,
.blockquote-footer{
    color: #007bff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.text-primary:hover,
.blockquote-footer:hover{
    cursor: help;
    color: #007bff !important;
    white-space: initial;
    overflow: initial;
    text-overflow: initial;
    
}

.portfolio-menu ul li {
    display: inline-block;
    margin: 0;
    list-style: none;
    padding: 10px 15px;
    margin-top: 5px;
    cursor: pointer;
    -webkit-transition: all 05s ease;
    -moz-transition: all 05s ease;
    -ms-transition: all 05s ease;
    -o-transition: all 05s ease;
    transition: all .5s ease;
}