.headerHome {
    width: 100vw;
    height: 100vh;
    background-color: #004AAD;

}

.headerMenu {
    width: 100vw;
    min-height: 65%;
    display: flex;
    justify-content: center;
    background-image: url("../Assent/SlidedHeader/HeaderSlide.jpg");
    background-size: cover;

}

.containerHeaderMenu {
    width: 80%;
    height: 25%;
    display: flex;
    justify-content: center;
}

.herderMenuLogo {
    width: 50%;
    height: 100%;
    padding: 55px 0 0 150px;
}

.herderMenuLogo img {
    width: 125px;
    height: 125px;
}

.headerMenuUl {
    width: 50%;
    display: flex;
    padding: 105px 0 0 0;
}

.headerMenuUl ul {
    display: flex;
    cursor: pointer;
}

.headerMenuUl ul li {
    height: 50px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    width: 150px;
    text-decoration: none;
    list-style: none;
    font-size: 2.5rem;
    white-space: nowrap;
    color: #FEBD06;
    font-family: "TS-Country";
}

.headerMenuUl ul li#ContatoMenu {
    background-color: #f5f5f5;
    border-radius: 10px;
    width: 255px;
    color: #19962D;
}

.headerMenuUl ul li#MenuAtivo,
.headerMenuUl ul li:hover {
    background-color: #f5f5f5;
    border-radius: 10px;
}

.headerMenuUl ul li:hover {

    transition: background 0.5s ease;
    transform: scale(1.1);
}


.headerSobre {
    width: 100%;
    height: 35%;
    display: flex;
    position: relative;
    justify-content: center;

}

.headerSobre img {
    display: block;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;


}

.headerSobreTitulo {
    z-index: 2;
    font-family: "MedulaOne";
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
}

.headerSobreTitulo div.headerSobreTitulo {
    width: 100%;
    height: 100%;

}

.headerSobreTituloDivSobre,
.headerSobreTituloDiv {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.headerSobreTituloDiv {
    margin-top: 5rem;
}

.headerSobreTituloDivSobre {
    justify-content: center;
    height: 80%;
    width: 45%;
}

.headerSobreTituloDivSpan:nth-of-type(1) {
    color: #FEBD06;
    width: 270px;
    font-size: 2.5rem;
}


.headerSobreTituloDivSpan:nth-of-type(2) {
    color: #fff;
    width: 270px;
    font-size: 2.5rem;
}

.headerSobreTituloDivSobre {
    text-align: justify;
   
}

.headerSobreTituloDivSobre span {
    width: 90%;
    font-size: 2.0rem;
    color: #f5f5f5;
    padding: 2%;
}


/* Section produtos */


.containerProdutros {
    height: 100vh;
    width: 100vw;
    background-color: #F9B850;

}


.sobreProdutos{
    
}