* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
}

@font-face {
    font-family: "TS-Country";
    src: url("../Font/TS-Country-NP.ttf") format("truetype");
}

@font-face {
    font-family: "MedulaOne";
    src: url("../Font/MedulaOne-Regular.ttf") format("truetype");
}